{% extends 'layout.html' %}
{% block title %} Buku Tamu {% endblock %}
{% block body %}

<div class="container mt-2">

	{% if jumlah > 0 %}
	<div class="media border p-3 mb-3">
		<div class="media-body">
			<ul>
				<li>Jumlah tamu saat ini sebanyak {{ jumlah }} orang, {{ lakilaki }} orang laki-laki, dan {{perempuan}} orang perempuan</li>
				<li>Rata-rata usia tamu {{ ratarata }} tahun, usia termuda {{ young }} tahun, usia tertua {{ old }} tahun</li>
			</ul>
		</div>
	</div>
	{% endif %}

	<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal">Tambah</button>
	<table class="table table-bordered mt-2">
		<thead class="text-center">
			<tr>
				<td>No</td>
				<td>Nama</td>
				<td>Jenis Kelamin</td>
				<td>Usia</td>
				<td>Alamat</td>
				<td colspan="2">Aksi</td>
			</tr>
		</thead>
		<tbody>
			{% for row in bukutamu %}
			<tr>
				<td>{{ row.0 }}</td>
				<td>{{ row.1 }}</td>
				<td>{{ row.2 }}</td>
				<td>{{ row.3 }}</td>
				<td>{{ row.4 }}</td>
				<td><button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editModal{{ row.0 }}">Ubah</button></td>
				<td><a href="/hapus/{{ row.0 }}" class="btn btn-danger btn-sm" onclick="return confirm('Yakin ingin hapus?')">Hapus</a></td>
			</tr>
			<!-- Edit Modal -->
			<div class="modal fade" id="editModal{{ row.0 }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Ubah Data</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<form action="{{ url_for('update') }}" method="POST">
							<input type="hidden" name="id" value="{{ row.0 }}">
							<div class="modal-body">
								<div class="row mb-3">
									<label class="col-sm-4 col-form-label">Nama</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" name="nama" value="{{ row.1 }}">
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-sm-4 col-form-label">Jenis Kelamin</label>
									{% if row.2 == 'Laki-laki' %}
									<div class="col-sm-4">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="jenis_kelamin" value="Laki-laki" checked>
											<label class="form-check-label">Laki-laki</label>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="jenis_kelamin" value="Perempuan">
											<label class="form-check-label">Perempuan</label>
										</div>
									</div>
									{% else %}
									<div class="col-sm-4">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="jenis_kelamin" value="Laki-laki">
											<label class="form-check-label">Laki-laki</label>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="jenis_kelamin" value="Perempuan" checked>
											<label class="form-check-label">Perempuan</label>
										</div>
									</div>
									{% endif %}
								</div>
								<div class="row mb-3">
									<label class="col-sm-4 col-form-label">Usia</label>
									<div class="col-sm-8">
										<input type="number" min="0" class="form-control" name="usia" value="{{ row.3 }}">
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-sm-4 col-form-label">Alamat</label>
									<div class="col-sm-8">
										<textarea class="form-control" name="alamat" rows="3">{{ row.4 }}</textarea>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Simpan Perubahan</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			{% else %}
			<tr>
				<td colspan="6" class="text-center">Buku Tamu masih Kosong</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="addModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Tambah Data</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="{{ url_for('simpan') }}" method="POST">
				<div class="modal-body">
					<div class="row mb-3">
						<label class="col-sm-4 col-form-label">Nama</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="nama" required>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-4 col-form-label">Jenis Kelamin</label>
						<div class="col-sm-4">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="jenis_kelamin" value="Laki-laki" required>
								<label class="form-check-label">Laki-laki</label>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="jenis_kelamin" value="Perempuan">
								<label class="form-check-label">Perempuan</label>
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-4 col-form-label">Usia</label>
						<div class="col-sm-8">
							<input type="number" min="0" class="form-control" name="usia" required>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-4 col-form-label">Alamat</label>
						<div class="col-sm-8">
							<textarea class="form-control" name="alamat" rows="3" required></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success">Tambah</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}